{%- set fqdn = grains.get('fqdn', 'localhost') -%}
{%- set namenode = salt['mine.get']('G@stack_id:' ~ grains.stack_id ~ ' and G@roles:hdp2.hadoop.hdfs.namenode', 'grains.items', 'compound').values() -%}
{%- set standby_namenode = salt['mine.get']('G@stack_id:' ~ grains.stack_id ~ ' and G@roles:hdp2.hadoop.hdfs.standby-namenode', 'grains.items', 'compound').values() -%}
{%- set resourcemanager = salt['mine.get']('G@stack_id:' ~ grains.stack_id ~ ' and G@roles:hdp2.hadoop.yarn.resourcemanager', 'grains.items', 'compound').values() -%}
{%- set standby_resourcemanager = salt['mine.get']('G@stack_id:' ~ grains.stack_id ~ ' and G@roles:hdp2.hadoop.yarn.standby-resourcemanager', 'grains.items', 'compound').values() -%}
{%- set historyserver = salt['mine.get']('G@stack_id:' ~ grains.stack_id ~ ' and G@roles:hdp2.hadoop.mapreduce.historyserver', 'grains.items', 'compound').values() -%}
{%- set hue = salt['mine.get']('G@stack_id:' ~ grains.stack_id ~ ' and G@roles:hdp2.hue', 'grains.items', 'compound').values() -%}
{%- set oozie = salt['mine.get']('G@stack_id:' ~ grains.stack_id ~ ' and G@roles:hdp2.oozie', 'grains.items', 'compound').values() -%}
{%- set spark = salt['mine.get']('G@stack_id:' ~ grains.stack_id ~ ' and G@roles:hdp2.spark.historyserver', 'grains.items', 'compound').values() -%}
{%- set hbase_masters = salt['mine.get']('G@stack_id:' ~ grains.stack_id ~ ' and G@roles:hdp2.hbase.master', 'grains.items', 'compound').values() -%}
{%- set https = pillar.hdp2.encryption.enable -%}
<!DOCTYPE html>
<html lang="en">
<head>
<title>HDP2 Landing Page</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<style>
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background-color: #dcf0d3;
}
body {
  color: #555;
}

a,
a:focus,
a:hover {
  color: #446633;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
  -webkit-box-shadow: inset 0 0 100px rgba(95,163,62,.95);
          box-shadow: inset 0 0 100px rgba(95,163,62,.95);
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #5fa33e;
  color: #ddd;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .credit {
  margin: 20px 0;
}
</style>
</head>
<body>
<div id="wrap">
    <div class="container">
        <h1>HDP2 Landing Page</h1>
        <p class="lead">Below is a list of useful links customized for your HDP2 stack:</p>
        <div class="row">
            <div class="col-md-6">
                <h4>Hadoop</h4>
                <ul>
                    {% if hue %}
                    <li><a href='http://{{ hue[0]["fqdn"] }}:8888/home'>Hue</a></li>
                    {% endif %}
                    {% if namenode %}
                    <li><a href='{% if https %}https://{{ namenode[0]["fqdn"] }}:50470/{% else %}http://{{ namenode[0]["fqdn"] }}:50070/{% endif %}'>Hadoop HDFS NameNode</a></li>
                    {% endif %}
                    {% if standby_namenode %}
                    <li><a href='{% if https %}https://{{ standby_namenode[0]["fqdn"] }}:50470/{% else %}http://{{ standby_namenode[0]["fqdn"] }}:50070/{% endif %}'>Hadoop HDFS Standby NameNode</a></li>
                    {% endif %}
                    {% if resourcemanager %}
                    <li><a href='{% if https %}https://{{ resourcemanager[0]["fqdn"] }}:8090/{% else %}http://{{ resourcemanager[0]["fqdn"] }}:8088/{% endif %}'>Hadoop YARN ResourceManager</a></li>
                    {% endif %}
                    {% if standby_resourcemanager %}
                    <li><a href='{% if https %}https://{{ standby_resourcemanager[0]["fqdn"] }}:8090/{% else %}http://{{ standby_resourcemanager[0]["fqdn"] }}:8088/{% endif %}'>Hadoop YARN Standby ResourceManager</a></li>
                    {% endif %}
                    {% if historyserver %}
                    <li><a href='{% if https %}https://{{ historyserver[0]["fqdn"] }}:19890/{% else %}http://{{ historyserver[0]["fqdn"] }}:19888/{% endif %}'>Hadoop MapReduce History Server</a></li>
                    {% endif %}
                    {% if 'hdp2.hadoop.hdfs.datanode' in grains['roles'] %}
                    <li><a href='{% if https %}https://{{ fqdn }}:50475/{% else %}http://{{ fqdn }}:50075/{% endif %}'>Hadoop HDFS DataNode</a></li>
                    {% endif %}
                    {% if 'hdp2.hadoop.yarn.nodemanager' in grains['roles'] %}
                    <li><a href='{% if https %}https://{{ fqdn }}:8044/{% else %}http://{{ fqdn }}:8042/{% endif %}'>Hadoop YARN NodeManager</a></li>
                    {% endif %}
                    {% if oozie %}
                    <li><a href='{% if https %}https://{{ oozie[0]["fqdn"] }}:11443/{% else %}http://{{ oozie[0]["fqdn"] }}:11000/{% endif %}'>Oozie Dashboard</a></li>
                    {% endif %}
                    {% if spark %}
                    <li><a href='http://{{ spark[0]["fqdn"] }}:18088/'>Spark History Server</a></li>
                    {% endif %}
                </ul>
                {% if 'hdp2.hadoop.hdfs.namenode' in grains['roles'] or 'hdp2.hadoop.yarn.resourcemanager' in grains['roles'] or 'hdp2.hadoop.mapreduce.historyserver' in grains['roles']%}
                {% set datanodes = salt['mine.get']('G@stack_id:' ~ grains.stack_id ~ ' and G@roles:hdp2.hadoop.hdfs.datanode', 'grains.items', 'compound').values() %}
                <h4>Datanodes</h4>
                <ul>
                    {% for datanode in datanodes %}
                    <li><a href='http://{{ datanode["fqdn"] }}/'>{{ datanode['id'] }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div> <!-- col-md-6 -->

            <div class="col-md-6">
                {% if hbase_masters %}
                <h4>HBase</h4>
                <ul>
                    {% for hbase_master in hbase_masters %}
                    <li><a href='http{% if https %}s{% endif %}://{{ hbase_master["fqdn"] }}:16010/'>HBase Master</a></li>
                    {% endfor %}
                    {% if 'hdp2.hbase.regionserver' in grains['roles'] %}
                    <li><a href='http{% if https %}s{% endif %}://{{ fqdn }}:16030/'>HBase RegionServer</a></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div> <!-- col-md-6 -->
        </div> <!-- row -->
    </div> <!-- container -->
</div> <!-- wrap -->

<div id="footer">
    <div class="container">
        <p class="credit"><small>
            This stack provisioned with
            <a href="http://stackd.io">stackd.io</a> from
            <a href="http://www.digitalreasoning.com">Digital Reasoning</a> //
            <a href="http://www.digitalreasoning.com">www.digitalreasoning.com</a>
        </small></p>
    </div>
</div>

</body>
</html>
